.contacts{
    flex: 0.65;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contacts__header{
    text-align: left;
    flex: 0.1;
    background-color: lightsteelblue;
    border-bottom: 1px solid rgba(211, 211, 211, 0.267);
}

.contacts__header h1{
    margin: 3% 0 0 5%;
    text-shadow: 1px 1px gray;
    
}

.contacts__cards{
    margin-top:30px;
    flex: 0.9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: flex-start;
}

.contactCard{
    width: 75%;
    height: 15%;
     margin: 2%; 
     /*background-color: white;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 5px; */
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6; 
    padding: 12px;
 
    
}

.contactCard:hover{
    background-color: rgba(176, 196, 222, 0.137);
}

.contactCard a{
    display: flex;
    padding: 5%;
    margin: 2% 0 0 0 ;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: left;
    flex-direction: row;
    align-content: center;
}
.contactCard h2{
   
    color: black;
    font-size: 160%;
}

.contactCard__info{
    
    padding: 0;
    margin: 0 0 0 2vw;
    width: 100%;
    height: auto;
    text-align: left;
}

.find{
    padding: 0;
    margin: 7% 5% !important;
}

.find:hover{
    cursor: pointer;
}

.find > .MuiSvgIcon-root{
    color: gray;
    font-size: 25px !important;
}

.contacts__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.contacts__search form {
    flex: 1;
    display: flex;

}

.contacts__search form input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    margin-left: 1vw;
}
.contacts__search form input:focus{
    outline: none;
}
.contacts__search form  button{
    border: none;
    background-color: inherit;
}

.contacts__search > .MuiSvgIcon-root{
    margin: 10px;
    color: gray;
}